@charset "UTF-8";

h1{
	text-align: center;
	
}

.corfundo {
	background-color: #F08080;
}
.corfundo2 {
	background-color: #F0FFF0;
}

.fontmodifier {
	font-size: 1.1rem; 
	font-weight:bold; 
	font-style:italic;
	color: #F0FFF0;
}
